:root {
    --left-menu-size: 280px;
    --right-menu-size: 240px;
    --vertical-gap: 20px;
    --container-gap: 20px;
    --main-font-family: Roboto;
    --secondary-font-family: Inter;
    --main-font-size: 16px;
    --accent-color: #0095FF;
    --accent-color-alfa-10: rgba(0, 149, 255, 0.1);
    --accent-color-alfa-20: rgba(0, 149, 255, 0.2);
    --accent-color-darken-15: #007AD1;
    --font-gray: #9f9f9f;
    --font-red: #D80000;
    --drop-shadow: drop-shadow(0 2px 8px rgb(212, 212, 212));

    --h1-fs: 20px;
    --h2-fs: 18px;
    --h3-fs: 16px;

    --default-fs: 14px;
    --small-fs: 12px;

    accent-color: var(--accent-color);
}

body {
    font-size: var(--default-fs);
    line-height: 1.26;
}

span:not([class]):empty {
    display: none;
}

.cabinet-page {
    width: 100%;
    margin-block: var(--vertical-gap);
    background-color: #f3f6fb;
    line-height: 1.26;
}

.cabinet-page__container {
    width: 100%;
    display: grid;
    gap: var(--vertical-gap);
    padding-block: var(--vertical-gap);
    grid-template-columns: minmax(0, 1fr);
}

.cabinet-page__title {
    font-size: var(--h1-fs);
}

.section__title {
    font-size: var(--h2-fs);
}

.section__title,
.cabinet-page__title {
    font-weight: 500;
    margin-block: 0 0.75em;
}

.cabinet-menu {
    display: none;
}

.cabinet-menu,
.cabinet-page__main {
    background-color: white;
    padding: 20px 15px;
    border-radius: 12px;
}

.menu-btn {
    display: inline-flex;
    align-items: center;
    gap: 19px;
    padding: 8px 11px;
    border-radius: 9px;
    background-color: rgba(0, 149, 255, 0.06);
}

.menu-btn__text {
    font-size: 14px;
    font-family: var(--main-font-family), sans-serif;
    font-weight: 500;
}

.menu-btn__icon {
    display: inline-flex;
    align-items: center;
    flex: 0 0 24px;
    color: rgba(0, 149, 255, 1);
}

.cabinet-page__content {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    row-gap: 20px;
}

@media (min-width: 1200px) {
    :root {
        --h1-fs: 24px;
        --h2-fs: 22px;
        --h3-fs: 20px;

        --default-fs: 16px;
    }

    .cabinet-page__content {
        row-gap: 30px;
    }

    .cabinet-menu {
        display: flex;
        flex-direction: column;
    }

    .cabinet-page {
        display: flex;
        flex-grow: 1;
        min-height: 500px;
    }

    .footer {
        flex-grow: 0;
    }

    .cabinet-page__container {
        position: relative;
        padding-left: calc(var(--left-menu-size) + (2 * var(--vertical-gap)));
    }

    .cabinet-page__left-menu {
        position: absolute;
        left: 0;
        top: var(--vertical-gap);
        bottom: var(--vertical-gap);
        height: calc(100% - (var(--vertical-gap) * 2));
        width: var(--left-menu-size);
    }

    .cabinet-menu__head {
        position: sticky;
        top: 0;
        flex-grow: 0;
    }

    .cabinet-menu__body {
        flex-grow: 1;
        max-height: 100%;
        overflow: auto;
    }

    .form__inputs-475 {
        max-width: 475px;
        width: 100%;
    }
}

.cabinet-page__left-menu.isCollapsed {
}

.cabinet-page__right-menu {
}

.cabinet-page__main {

}

.cabinet-menu__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 1.5em;
}

.cabinet-page__right-menu .cabinet-menu__head {
    display: none;
}

.cabinet-menu__body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cabinet-menu__body-space {
    height: 1px;
    line-height: 1px;
    background-color: rgba(0, 0, 0, 0.4);
}

.cabinet-menu__title {
    font-weight: 500;
    font-family: var(--main-font-family), sans-serif;
    font-size: var(--h3-fs);
}

.cabinet-menu__toggle-icon {
    width: 24px;
}

.btn-link {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    line-height: normal;
}

.btn-link__icon {
    flex: 0 0 24px;
    display: inline-flex;
}

.cabinet-menu .btn-link {
    color: #462B84;
}

.cabinet-menu__nav {
    font-family: var(--secondary-font-family), sans-serif;
    color: #141B34;
}

.cabinet-menu__nav-title {
    font-size: var(--small-fs);
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.4;
    margin-bottom: 10px;
}

.cabinet-menu__nav-list {
    display: flex;
    flex-direction: column;
    gap: 1px;
    font-size: 0.875em;
}

.cabinet-menu__nav-link {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 12px;
    border-radius: 9px;
    background-color: var(--nav-link-bg, transparent);
    transition: background-color 0.1s linear;
}

.cabinet-menu__nav-link.isActive {
    --nav-link-bg: rgba(0, 149, 255, 0.1);
}

.cabinet-menu__nav-link--red {
    color: red;
}

@media (hover: hover) {
    .cabinet-menu__nav-link:hover {
        --nav-link-bg: rgba(0, 149, 255, 0.1);
    }
}

@media (hover: none) {
    .cabinet-menu__nav-link:active {
        --nav-link-bg: rgba(0, 149, 255, 0.1);
    }
}

.cabinet-menu__nav-icon {
    display: inline-flex;
    flex: 0 0 24px;
    opacity: 0.4;
}

.cabinet-menu__nav--profile {
    --nav-link-bg: rgb(224 224 224);
}

.cabinet-page__left-menu .cabinet-menu__nav--profile {
    display: none;
}

.cabinet-menu__nav--profile .cabinet-menu__nav-icon {
    opacity: 1;
}

.cabinet-page__mobile-menu {
    display: none;
    margin-bottom: 20px;
}

.cabinet-menu__close {
    display: none;
}

.main-cards {
    display: grid;
    gap: 5px;
}

.main-card {
    --_mc-icon-size: var(--mc-icon-size, 37px);
    position: relative;
    display: flex;
    gap: 5px;
    padding: 25px 30px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.1s linear;
}

@media (hover: hover) {
    .main-card:hover {
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 6px rgba(0, 0, 0, .4);
    }
}

@media (hover: none) {
    .main-card:active {
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 6px rgba(0, 0, 0, .4);
    }
}

.main-card__icon {
    display: inline-flex;
    align-items: center;
    width: var(--_mc-icon-size);
    color: black;
}

.main-card__description {
    color: rgba(0, 0, 0, 0.6);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form__input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form__input-row {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    flex-wrap: wrap;
}

.form__input-row .form__input-wrapper {
    flex-grow: 1;
}

.form__input-label {
    font-weight: 500;
}

.form__input-label--required {
    position: relative;
}

.form__input-label--required:after {
    content: '*';
    color: var(--font-red);
}

.form__input-field {
    --_border-color: var(--border-color, #d9d9d9);
    --_bg-color: var(--input-bg-color, white);

    display: block;
    max-width: unset;
    width: 100%;
    border: 1px solid var(--_border-color);
    border-radius: 10px;
    padding: 9px 15px;
    background-color: var(--_bg-color);
    font-family: var(--main-font-family), sans-serif;
    font-weight: 500;
    min-height: 40px;
    font-size: 1em;
}

.form__input-select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1rem;
    padding-right: 2rem;
}

.form__input-field:focus {
    --border-color: var(--accent-color);
    --input-bg-color: rgba(0, 149, 255, 0.1);
    outline: none;
}

.form__radios--custom input[type="radio"] {
    display: none;
}

.form__radio {
    cursor: pointer;
}

.ui-button {
    --_btn-bg-clr: var(--btn-clr, transparent);
    --_btn-text-clr: var(--btn-text-clr, black);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    font-size: 0.875em;
    border-radius: 5px;
    min-height: 40px;
    transition: background-color 0.2s linear;
    background-color: var(--_btn-bg-clr);
    color: var(--_btn-text-clr);
    font-weight: 500;
}

.form__checkbox {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.form__checkbox-label {
    cursor: pointer;
}

.ui-button--primary {
    --btn-clr: var(--accent-color);
    --btn-text-clr: white;
}

.ui-button--gray {
    --btn-clr: #EDEDED;
    --btn-text-clr: rgba(0, 0, 0, 0.6);
}

.ui-button--red {
    --btn-clr: #D80000;
    --btn-text-clr: #ffffff;
}

.ui-button--secondary {
    --btn-clr: transparent;
    --btn-text-clr: black;
    --_border-color: var(--btn-border-clr, rgba(255, 255, 255, 0));
    --_border-hover-color: var(--btn-hover-border-clr, rgba(255, 255, 255, 0));

    transition: box-shadow 0.1s linear;
    box-shadow: inset 0 0 0 2px var(--_border-color);
}

.ui-button--secondary-gray {
    --btn-border-clr: rgba(0, 0, 0, 0.4);
    --btn-hover-border-clr: rgba(0, 0, 0, 0.8);
}

.ui-button--secondary-blue {
    --btn-border-clr: var(--accent-color);
    --btn-hover-border-clr: var(--accent-color-darken-15);
}

.ui-button--small {
    min-height: 34px;
}

.ui-button--width-380 {
    max-width: 380px;
}

@media (hover: hover) {
    .ui-button--primary:hover {
        --btn-clr: var(--accent-color-darken-15);
    }

    .ui-button--gray:hover {
        --btn-clr: #c9c9c9;
        --btn-text-clr: rgba(0, 0, 0, 1);
    }

    .ui-button--red:hover {
        --btn-clr: #b70000;
    }

    .ui-button--secondary:hover {
        box-shadow: inset 0 0 0 2px var(--_border-hover-color);
    }
}

@media (hover: none) {
    .ui-button--primary:active {
        --btn-clr: var(--accent-color-darken-15);
    }

    .ui-button--gray:active {
        --btn-clr: #c9c9c9;
        --btn-text-clr: rgba(0, 0, 0, 1);
    }

    .ui-button--red:active {
        --btn-clr: #b70000;
    }

    .ui-button--secondary:hover {
        box-shadow: inset 0 0 0 2px var(--_border-hover-color);
    }
}

.form--personal-settings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(30%, 200px), 1fr));
}

.form--personal-settings .form__submit {
    width: 100%;
    max-width: 380px;
}

.form--personal-settings .form__input-wrapper--address,
.form--personal-settings .form__buttons {
    grid-column: -1 / 1;
}

.form--organization {
    max-width: 500px;
}

.form--organization .form__input-wrapper {
    max-width: 415px;
}

.header__profile {
    position: relative;
}

.profile-ctrl {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5px;
    border-radius: 12px;
    padding: 5px 15px;
    border: 1px solid rgba(0, 0, 0, .4);
    font-weight: 500;
    line-height: 1;
    min-height: 46px;
    max-width: 160px;
    font-size: 0.9125em;
}

.profile-ctrl__name {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.profile-ctrl__icon {
    flex: 0 0 20px;
    opacity: 0.75;
}

.profile-ctrl__balance {
    color: var(--font-red);
}

.header__profile-button {
}

.header__profile-dropdown {
    display: none;
    position: absolute;
    width: var(--right-menu-size);
    right: 0;
    left: auto;
    padding-top: 5px;
    filter: var(--drop-shadow);
    z-index: 10;
}

@media (hover: hover) {
    .header__profile:hover .header__profile-dropdown {
        display: block;
    }
}

@media (max-width: 1199.98px) {

    .cabinet-page__left-menu .cabinet-menu__nav--profile {
        display: block;
    }

    .wrapper:has(.cabinet-menu.isVisible) {
        overflow: hidden;
        max-height: 100%;
    }

    .cabinet-page__mobile-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    .cabinet-page__right-menu .cabinet-menu__head {
        display: flex;
    }

    .cabinet-menu__toggle {
        display: none;
    }

    .cabinet-menu__close {
        display: inline-flex;
    }

    .header__profile-button {
        display: none;
    }

    .header__profile-dropdown {
        display: contents !important;
    }

    .cabinet-menu.isVisible {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: white;
        padding: 20px 20px 70px;
        z-index: 10;
        min-height: 100vh;
        overflow: auto;
    }

    .main-card {
        min-height: 80px;
        padding-left: calc(var(--_mc-icon-size) + 15px + 15px);
        flex-direction: column;
        justify-content: center;
    }

    .main-card__icon {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translate(0, -50%);
    }
}

@media (min-width: 1200px) {
    .main-cards {
        --mc-icon-size: 47px;

        gap: 25px;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .main-card {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 5px;
    }
}

.form__radios--payment-type {
    --payment-card-size: 120px;

    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.form__radios--payment-type .form__radio {
    flex: 0 0 var(--payment-card-size);
}

.form--balance .form__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 10px;
}

.payment-type-card {
    padding: 16px;
    width: 100%;
    height: 97px;
}

.payment-type-card,
.delivery-card {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #EDEDED;
    border-radius: 15px;

    border: 1px solid transparent;
    transition: border-color 0.1s linear;
}

.form__radios--delivery-type {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 1199.98px) {
    .form__radios--delivery-type {
        flex-flow: row wrap;
        justify-content: stretch;
    }

    .delivery-card {
        height: 100%;
    }
}

.delivery-card {
    gap: 10px;
    padding: 20px;
}

.delivery-card__icon {
    width: 37px;
    height: 37px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-color);
}

.delivery-card__icon svg {
    width: 100%;
    fill: currentColor;
}

.delivery-card__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form__radio input:checked ~ .payment-type-card,
.form__radio input:checked ~ .delivery-card {
    border-color: var(--accent-color);
}

@media (hover: hover) {
    .payment-type-card:hover,
    .delivery-card:hover {
        border-color: var(--accent-color-darken-15);
    }
}

.payment-type-card__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 67px;
    width: auto;
}

.payment-type-card__img {
    max-width: 100%;
    max-height: 100%;
}

.delivery-price {
    font-size: var(--h3-fs);
}

@media (min-width: 1199.98px) {
    .form__radios--payment-type {
        --payment-card-size: 172px;
    }

    .payment-type-card {
        padding: 24px;
        height: 142px;
    }

    .payment-type-card__icon {
        height: 95px;
    }
}

.cabinet-tabs {
}

.cabinet-tabs__titles {
    margin-bottom: 15px;
    display: flex;
    gap: 20px;
}

.cabinet-tabs__body {
}

.cabinet-tabs__button {
    --tab-btn-clr: rgba(0, 0, 0, 0.6);

    font-weight: 500;
    color: var(--tab-btn-clr);
    border-bottom: 1px solid currentColor;
}

.cabinet-tabs__button._tab-active {
    --tab-btn-clr: rgba(0, 0, 0, 1);
}

@media (hover: hover) {
    .cabinet-tabs__button:hover {
        --tab-btn-clr: rgba(0, 0, 0, 1);
    }
}

.form--update-balance .form__row {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.balance-content {
    display: grid;
    gap: var(--vertical-gap);
}

.balance-card {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--vertical-gap);
    align-items: baseline;
}

.balance-card__column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.balance-card__label {
    font-size: var(--h3-fs);
}

.balance-card__value {
    font-weight: 500;
    font-size: var(--h2-fs);
}

@media (min-width: 1199.98px) {
    .cabinet-tabs__titles {
        gap: 20px;
    }
}

.auction-cards {
    display: flex;
    flex-direction: column;
    gap: var(--vertical-gap);
}

.auction-card {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
}

.auction-card__main-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

.auction-card__dropdown {
    right: 0;
}

.auction-card__image-wrapper,
.auction-card__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.auction-card__info {
    flex: 1;
}

.auction-card__data,
.auction-card__buttons {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.auction-card__data-row {
    flex: 0 0 auto;
    display: flex;
    gap: 5px;
}

.auction-card__image {
    max-width: 100%;
    height: auto;
    aspect-ratio: 272 / 178;
    object-fit: contain;
}

.auction-card__name {
    --_card-name-fs: var(--card-name-fs, 1.125em);
    font-size: var(--_card-name-fs);
}

.auction-card__name-link {
    color: var(--accent-color);

    transition: color 0.1s ease-in-out;
}

@media (hover: hover) {
    .auction-card__name-link:hover {
        color: var(--font-red);
    }
}

.auction-card__indicators {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

.auction-card__bid {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--vertical-gap);
}

.auction-card__bid-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.auction-card__bid-value {
    font-weight: 500;
    font-size: var(--h3-fs);
}

.simple-products__price,
.auction-card__price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    font-size: var(--h3-fs);
    line-height: 1.26;
}

.simple-products__price-old,
.auction-card__price-old {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8125em;
}

.simple-products__price-old-value,
.auction-card__price-old-value {
    color: var(--font-gray);
}

.simple-products__price-new,
.auction-card__price-new {
    font-weight: 500;
}

.simple-products__price-label,
.auction-card__price-label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #00C240;
    border-radius: 25px;
    padding: 3px 7px;
}

.auction-card__buttons-row {
    display: grid;
    grid-template-columns: 1fr minmax(0, 34px);
    gap: 5px;
}

.auction-card__data {
    font-size: var(--h3-fs);
    gap: 10px;
}

.auction-card__data-label {
    font-weight: 500;
}

.section--announcements,
.section--bids {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 10px;
}

@media (min-width: 768px) {
    .auction-card__price {
        gap: 10px;
    }

    .auction-card__data-row {
        flex-direction: column;
    }

    .section--announcements,
    .section--bids {
        gap: 20px;
    }
}

.indicator {
    --_indicator-fs: var(--indicator-fs, --h3-fs);
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: var(--_indicator-fs);
    font-weight: 500;
}

.indicator__icon {
    display: flex;
    width: 1em;
    height: 1em;
    color: var(--accent-color);
}

.indicator__icon svg {
    fill: currentColor;
}

.indicator__value {
}

@media (max-width: 575.98px) {
    .auction-card__image-wrapper {
        align-items: center;
    }
}

@media (max-width: 1199.98px) {
    .auction-card:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 20px;
    }
}

@media (min-width: 576px) {
    .auction-card__main-info {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (min-width: 1200px) {
    .auction-card {
        flex-wrap: nowrap;
        padding: 20px;
        border-radius: 12px;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .auction-card__buttons {
        flex: 0 0 185px;
    }

    .auction-card__image-wrapper {
        flex: 0 0 150px;
    }
}

@media (min-width: 1350px) {
    .auction-card {
        --card-name-fs: var(--h3-fs);
    }

    .auction-card__image-wrapper {
        flex: 0 0 220px;
    }

    .auction-card__buttons {
        flex: 0 0 225px;
    }
}

.documents {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.document {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.document__name {
    font-size: 14px;
}

.attachment {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.attachment__icon {
    width: 30px;
    height: 30px;
}

.attachment__filename {
    font-weight: 500;
    font-size: 0.875em;
    flex-grow: 1;
}

.attachment__download {
    display: flex;
    flex: 0 0 1.5em;
}

@media (hover: hover) {
    .attachment__download:hover {
        color: var(--accent-color);
    }
}

.attachment__size {
    color: var(--font-gray);
}

@media (min-width: 768px) {
    .attachment__icon {
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 1200px) {
    .documents {
        gap: 15px;
    }

    .document {
        display: grid;
        align-items: center;
        grid-template-columns: minmax(0, 300px) 1fr;
    }
}

.organizations-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    max-width: 620px;
    margin-inline: auto;
}

.organizations-empty__icon {
    width: 50px;
    color: var(--accent-color);
}
.organizations-empty__title,
.organizations-empty__text {
    font-size: var(--h3-fs);
    line-height: 1.26;
}

.organizations-empty__title {}
.organizations-empty__text {}

@media (min-width: 768px) {

}

@media (min-width: 1200px) {
    .organizations-empty {
        margin-block: 40px;
    }
}

@media (min-width: 1350px) {

}

@media (min-width: 1440px) {

}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.table--fixed {
    table-layout: fixed;
}

.table td {
    padding: 4px;
    vertical-align: middle;
}

.table__cell-100 {
    width: 75px;
}

@media (min-width: 768px) {
    .table__cell-100 {
        width: 100px;
    }
}

.table--messages {}

.table--messages tr:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.organization-table td:last-child {
    font-weight: 500;
}

.simple-products {
    --swiper-navigation-size: 24px;

    position: relative;
}

.simple-products__grid {
    --_sp-grid-size: var(--sp-grid-size, 170px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--_sp-grid-size), 1fr));
    gap: 1em;
}

.simple-products__title {
    font-weight: 400;
    margin-bottom: 1em;
}

.simple-products__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.simple-products__item:hover .simple-products__name {
    color: var(--font-red);
}

.simple-products__item--border {}

.simple-products__item--alpha .simple-products__image {
    opacity: 0.6;
}

.simple-products__name {
    word-break: break-word;
}

.simple-products__price,
.simple-products__name {
    font-size: 16px;
    font-weight: 500;
}

.simple-products__button {
    margin-top: auto;
}

.simple-products__info {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75em;
}

.simple-products__info > * {
    flex: 0 0 auto;
}

.simple-products__info-date {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    color: var(--font-gray);
}

.simple-products__info-date-icon svg {
    fill: currentColor;
}

.simple-products__info-date-icon {
    width: 20px;
}

.simple-products__info-status {
    display: inline-block;
    padding: 5px 7px;
    border-radius: 25px;

    --_status-bg-clr: var(--status-bg-clr, transparent);
    --_status-font-clr: var(--status-font-clr, black);

    background-color: var(--_status-bg-clr);
    color: var(--_status-font-clr);
}

.simple-products__info-status--not-available {
    --status-bg-clr: #BCBCBC;
    --status-font-clr: #fff;
}

.simple-products__info-status--in-stock {
    --status-bg-clr: #00C240;
    --status-font-clr: #fff;
}

@media (max-width: 575.98px) {
    .simple-products__grid {
        margin-inline: -0.9375rem;
    }
}

@media (min-width: 768px) {
    .auction-card__price,
    .simple-products__name {
        font-size: 18px;
    }

    .simple-products__item--border {
        padding: 1em;
        border-radius: 12px;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
}

@media (min-width: 1200px) {
    .simple-products__grid {
        --sp-grid-size: 220px
    }

    .simple-products__info-date-icon {
        width: 29px;
    }
}

.simple-products__image-wrapper {
    position: relative;
}

.simple-products__like {
    position: absolute;
    top: 0;
    right: 0;
    padding: .3125em;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

.simple-products__like--active {
    color: var(--font-red);
}

@media (hover: hover) {
    .simple-products__like:hover {
        color: var(--font-red);
    }
}

@media (hover: none) {
    .simple-products__like:active {
        color: var(--font-red);
    }
}

.simple-products__like-icon {
    width: 30px;
    fill: currentColor;
}

.simple-products__image {
    flex: 0 0 auto;
    width: 100%;
}

.simple-products__image img {
    display: block;
    max-width: 100%;
}

.simple-products__button-prev,
.simple-products__button-next {
    color: black;
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 45px;
    border: 2px solid rgba(0, 0, 0, 0.4);
}

.simple-products__button-prev {}
.simple-products__button-next {}

.rating {
    direction: rtl;
    unicode-bidi: bidi-override;
    font-size: var(--h3-fs);
    cursor: pointer;
    text-align: left;
}

.rating__button {
    color: rgba(0, 0, 0, 0.5);
}

.rating__button:hover,
.rating__button:hover ~ .rating__button {
    color: var(--accent-color);
}

.rating__icon {
    display: block;
    width: 1em;
    height: 1em;
}

.empty-comments {
    max-width: 620px;
}

.empty-comments:not(:last-child) {
    margin-bottom: 1em;
}

@media (min-width: 768px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1350px) {
    .simple-products__title {
        font-weight: 500;
    }
}

@media (min-width: 1440px) {

}

.bids {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 20px;
}

.bids-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bids-card__info,
.bids-card__main {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.bids-card__image-wrapper {}

.bids-card__name {
    font-size: var(--h3-fs);
    font-weight: 500;
}

.bids-card__info {
    /*font-size: 14px;*/
}

.bids-card__info-row {
}

.bids-card__bid {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    align-items: center;
}

.bids-card__bid-value {
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1;
}

@media (min-width: 768px) {
    .bids-card {
        align-items: center;
        flex-flow: row nowrap;
        gap: 20px;
        border-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 20px;
    }

    .bids-card__main {
        max-width: 270px;
    }

    .bids-card__bid {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (min-width: 1200px) {
    .bids-card {
        max-width: 640px;
    }
}

@media (min-width: 1350px) {
    .bids-card {
        padding: 20px;
        gap: 20px;
    }
}

@media (min-width: 1440px) {

}

.manager-card {
    display: inline-flex;
    align-items: start;
    gap: 1em;
    padding: 1em;
    border-radius: 8px;
    background-color: var(--accent-color-alfa-10);
}

.manager-card__icon {
    flex: 0 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.9125em;
    border-radius: 8px;
    background-color: var(--accent-color-alfa-10);
}

.manager-card__icon svg {
    width: 15px;
}

.manager-card__info {
    display: flex;
    flex-direction: column;
    gap: .3125em;
}

.help-links {
    font-family: var(--secondary-font-family), sans-serif;
    gap: 12px;
    -moz-column-fill: initial;
    -webkit-column-fill: initial;
    column-fill: initial;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
}

.help-links__group {
    break-inside: avoid;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;

    margin-bottom: 1em;
}

.help-links__group-title {
    font-weight: 600;
    font-size: var(--h3-fs);
    margin-bottom: .5em;
    color: var(--font-gray);
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

.help-links__list {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 0.3125em;
    margin-left: 0.75em;
}

.help-links__link {
    color: var(--accent-color);
    transition: color 0.1s linear;
}

.help-links__link:hover {
    color: var(--font-red);
}

@media (min-width: 768px) {
    .help-links {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    .manager-card {
        font-size: 0.875em;
    }

    .manager-card__icon svg {
        width: 25px;
    }
}

.alert {
    --_alert-border-clr: var(--alert-border-clr, rgba(0, 0, 0, 0.2));
    --_alert-bg-clr: var(--alert-bg-clr, #fafafa);

    display: flex;
    align-items: flex-start;
    padding: 15px 15px 15px 15px;
    border-radius: 12px;
    border: 1px solid var(--_alert-border-clr);
    background-color: var(--_alert-bg-clr);
    gap: 12px;
}

.alert:not(:last-child) {
    margin-bottom: 1rem;
}

.alert__icon {
    display: inline-flex;
    line-height: 1;
    flex: 0 0 24px;
    color: var(--accent-color);
}

.alert__icon svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

.alert__text {
    align-self: center;
}

.alert--attention {
    --alert-border-clr: var(--accent-color-alfa-20);
    --alert-bg-clr: var(--accent-color-alfa-10);
}

.messages p:not(:last-child) {
    margin-bottom: 5px;
}

.messages th,
.messages td {
    padding: 10px;
}

.messages__img {
    display: block;
    max-width: 100%;
}

*:has(> .ui-dropdown) {
    position: relative;
}

.ui-dropdown {
    display: none;
    position: absolute;
    min-width: 200px;
    border-radius: 3px;
    background-color: white;
    filter: var(--drop-shadow);
    padding: 0.5em .75em;
    top: 100%;
    margin-top: 5px;
}

.ui-dropdown.isVisible {
    display: block;
}

.ui-dropdown__list {
    display: flex;
    flex-direction: column;
}

.ui-dropdown__link {
    display: inline-flex;
    padding: 0.5em .75em;
    background-color: transparent;
    transition: background-color 0.1s linear;
}

@media (hover: hover) {
    .ui-dropdown__link:hover {
        background-color: rgba(0, 149, 255, 0.1);
    }
}

@media (min-width: 1200px) {
    .ui-dropdown {
        font-size: 0.875em;
    }
}

picture:not([class]) {
    display: contents;
}

svg {
    max-width: 100%;
}

.footer {
    margin-top: auto;
}

.gray {
    color: var(--font-gray);
    --link-clr: var(--font-gray);
}

.accent {
    color: var(--accent-color);
    --link-clr: var(--accent-color);
}

.red {
    color: var(--font-red);
    --link-clr: var(--font-red);
}

.custom-scroll {
    --scroll-bg-clr: rgba(0, 0, 0, .4);
    --scroll-bg-clr-hover: rgba(0, 0, 0, .55);

    --scroll-track-size: 7px;
    --scroll-track-clr: var(--scroll-bg-clr, rgba(0, 0, 0, .4));
    --scroll-track-clr-hover: var(--scroll-bg-clr-hover, rgba(0, 0, 0, .55));

    overflow-y: auto;

    padding-right: var(--scroll-track-size);
    margin-right: calc(-1 * var(--scroll-track-size));
}

/* Ширина скроллбара */
.custom-scroll::-webkit-scrollbar {
    width: var(--scroll-track-size);
}

/* Фон трека */
.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}

/* Сам ползунок */
.custom-scroll::-webkit-scrollbar-thumb {
    background-color: var(--scroll-track-clr);
    border-radius: 4px;
}

/* При наведении */
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-track-clr-hover);
}

.custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-track-clr) transparent;
}

@media (hover: hover) {
    .custom-scroll-on-hover {
        --scroll-bg-clr: transparent;
    }

    .custom-scroll-on-hover:hover {
        --scroll-bg-clr: rgba(0, 0, 0, .4);
    }
}

.bold {
    font-weight: 700;
}

.full-width {
    width: 100%;
}

.center {
    text-align: center;
}

.link {
    color: var(--link-clr, black);
    text-decoration: none;
    transition: color 0.1s linear, border-color 0.1s linear;
}

.link--underline {
    border-bottom: 1px solid;
}

.link--dotted {
    border-bottom: 1px dotted;
}

@media (hover: hover) {
    .link:hover {
        --link-clr: var(--accent-color);
    }
}

.small-text {
    font-size: var(--small-fs);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.question-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    width: 1.3125em;
    aspect-ratio: 22 / 20;
    border-radius: 50px;
    background-color: #D9D9D9;
    line-height: 1.3125;
    color: white;
    vertical-align: middle;
    cursor: pointer;
}

.question-icon:before {
    content: '?';
}

.semibold {
    font-weight: 500;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-right {
    text-align: right;
}

@supports (font-size: clamp( 1rem , 0.8522727273rem  +  1.3636363636vw , 1.14rem )) {
    .fs16 {
        font-size: clamp( 1rem , 0.8522727273rem  +  1.3636363636vw , 1.14rem );
    }
    .fs15 {
        font-size: clamp( 13px , 0.8522727273rem  +  1.3636363636vw , 15px );
    }
}
@supports not (font-size: clamp( 13px , 0.8522727273rem  +  1.3636363636vw , 15px )) {
    .fs16 {
        font-size: calc(1rem + 0.75 * (100vw - 20rem) / 55);
    }
    .fs15 {
        font-size: calc(13px * (100vw - 20rem) / 55);
    }
}

@media (min-width: 768px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1350px) {

}

@media (min-width: 1440px) {

}